@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(11, 29, 38);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.mntl__background{
    background-image: linear-gradient(rgba(44, 43, 43,0.6),transparent,rgba(255, 255, 255, 0.3)) ,url('./assets/main.jpg');
    background-size: cover;
    height: 100vh;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

@media screen and (max-width:700px) {
    .section__padding {
        padding: 4rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width:550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}